NODE_RED/flows.json
[
    {
        "id": "e6d8a6461d587fbf",
        "type": "tab",
        "label": "Flow 7 G7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d726fb07b2faa76e",
        "type": "junction",
        "z": "e6d8a6461d587fbf",
        "x": 656,
        "y": 1424,
        "wires": [
            [
                "9d48bd65d41482be",
                "9521e44f8e5170d7",
                "b136b352d9ecd4c0",
                "144864d814bca334"
            ]
        ]
    },
    {
        "id": "d2543ad184e15554",
        "type": "junction",
        "z": "e6d8a6461d587fbf",
        "x": 1024,
        "y": 1408,
        "wires": [
            [
                "85c0a842eddfbdd7"
            ]
        ]
    },
    {
        "id": "10e02087637d62ef",
        "type": "junction",
        "z": "e6d8a6461d587fbf",
        "x": 640,
        "y": 960,
        "wires": [
            [
                "d09837e42943c999",
                "ec3bddefa8a76538",
                "3e877feebb79a925",
                "0f5dbdc868fd0b5f",
                "b92432284de519c4"
            ]
        ]
    },
    {
        "id": "c334891871388cc4",
        "type": "junction",
        "z": "e6d8a6461d587fbf",
        "x": 1052,
        "y": 896,
        "wires": [
            [
                "94f1ac126a1ad775"
            ]
        ]
    },
    {
        "id": "1210270d991aabee",
        "type": "junction",
        "z": "e6d8a6461d587fbf",
        "x": 1028,
        "y": 256,
        "wires": [
            [
                "2fa0834c4473e513"
            ]
        ]
    },
    {
        "id": "95f38a26bf35f9a0",
        "type": "junction",
        "z": "e6d8a6461d587fbf",
        "x": 624,
        "y": 256,
        "wires": [
            [
                "7697bb23655516c9",
                "a61a07fa6e8d3a2f",
                "972e469e3276a770",
                "0c2338a5fb45993d",
                "070340a0f701c4a7",
                "2d3a2fc448132b1b"
            ]
        ]
    },
    {
        "id": "7fb86b2f0217db8c",
        "type": "mqtt in",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "a49b63db4f1c2f63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 148,
        "y": 96,
        "wires": [
            [
                "c8c8604ae5bfafa7"
            ]
        ]
    },
    {
        "id": "c8c8604ae5bfafa7",
        "type": "json",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 546,
        "y": 96,
        "wires": [
            [
                "95f38a26bf35f9a0"
            ]
        ]
    },
    {
        "id": "7697bb23655516c9",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "ID",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 786,
        "y": 16,
        "wires": [
            [
                "a67f5af7ce13e276"
            ]
        ]
    },
    {
        "id": "a61a07fa6e8d3a2f",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nglobal.set (\"tempFlow7\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 80,
        "wires": [
            [
                "9dcb961b5f44b0c4"
            ]
        ]
    },
    {
        "id": "972e469e3276a770",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum\nglobal.set (\"humFlow7\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 144,
        "wires": [
            [
                "01e87f62fdc159ca"
            ]
        ]
    },
    {
        "id": "a67f5af7ce13e276",
        "type": "ui_text",
        "z": "e6d8a6461d587fbf",
        "group": "669144b0875f8b3a",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1158,
        "y": 16,
        "wires": []
    },
    {
        "id": "9dcb961b5f44b0c4",
        "type": "ui_text",
        "z": "e6d8a6461d587fbf",
        "group": "669144b0875f8b3a",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1178,
        "y": 80,
        "wires": []
    },
    {
        "id": "01e87f62fdc159ca",
        "type": "ui_text",
        "z": "e6d8a6461d587fbf",
        "group": "669144b0875f8b3a",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1168,
        "y": 144,
        "wires": []
    },
    {
        "id": "2fa0834c4473e513",
        "type": "ui_chart",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "group": "f38aa05bd5f22e11",
        "order": 1,
        "width": 9,
        "height": 5,
        "label": "Hirtorico de Temperatura y Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1258,
        "y": 256,
        "wires": [
            []
        ]
    },
    {
        "id": "0c2338a5fb45993d",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Temperatura",
        "func": "msg.label = \"Temperatura\";\nmsg.topic = \"Temperatura\";\nmsg.payload = msg.payload.temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 224,
        "wires": [
            [
                "1210270d991aabee"
            ]
        ]
    },
    {
        "id": "070340a0f701c4a7",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Humedad",
        "func": "msg.label = \"Humedad\";\nmsg.topic = \"Humedad\";\nmsg.payload = msg.payload.hum\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 272,
        "wires": [
            [
                "1210270d991aabee"
            ]
        ]
    },
    {
        "id": "2d3a2fc448132b1b",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Sobre Temperatura",
        "func": "if(msg.payload.temp > 28){\n    msg.payload = \"true\";\n}   else{\n    msg.payload = \"false\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 336,
        "wires": [
            [
                "d37cbe310a902a8e"
            ]
        ]
    },
    {
        "id": "d37cbe310a902a8e",
        "type": "mqtt out",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqttin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a49b63db4f1c2f63",
        "x": 1222,
        "y": 336,
        "wires": []
    },
    {
        "id": "ee8a0e11dddd6b6a",
        "type": "http request",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.408207&lon=-99.018915&exclude=hourly, daily&appid=397121aa139f734e0ce36bcb93dba63c&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 294,
        "y": 512,
        "wires": [
            [
                "9d74b799b094c36b"
            ]
        ]
    },
    {
        "id": "de604128c3a2ec5c",
        "type": "inject",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 114,
        "y": 512,
        "wires": [
            [
                "ee8a0e11dddd6b6a",
                "144de9fc1d54602e"
            ]
        ]
    },
    {
        "id": "6feeaf8f9f35d598",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow7\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 512,
        "wires": [
            [
                "8330c0ef82eaef33"
            ]
        ]
    },
    {
        "id": "5f73595483f3f547",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow7\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 796,
        "y": 592,
        "wires": [
            [
                "da300191b67380aa"
            ]
        ]
    },
    {
        "id": "da300191b67380aa",
        "type": "ui_gauge",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "group": "be46e683cdffb7d0",
        "order": 2,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#888a85",
            "#8ae234",
            "#204a87"
        ],
        "seg1": "25",
        "seg2": "45",
        "className": "",
        "x": 1164,
        "y": 592,
        "wires": []
    },
    {
        "id": "8330c0ef82eaef33",
        "type": "ui_gauge",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "group": "be46e683cdffb7d0",
        "order": 1,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#729fcf",
            "#8ae234",
            "#ef2929"
        ],
        "seg1": "14",
        "seg2": "26",
        "className": "",
        "x": 1178,
        "y": 512,
        "wires": []
    },
    {
        "id": "9d74b799b094c36b",
        "type": "json",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 542,
        "y": 512,
        "wires": [
            [
                "6feeaf8f9f35d598",
                "5f73595483f3f547",
                "8156ca1527872644"
            ]
        ]
    },
    {
        "id": "8156ca1527872644",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow7\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 786,
        "y": 672,
        "wires": [
            [
                "ba81ac85c0b50c78"
            ]
        ]
    },
    {
        "id": "ba81ac85c0b50c78",
        "type": "ui_gauge",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "group": "be46e683cdffb7d0",
        "order": 3,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "UV",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "15",
        "colors": [
            "#8ae234",
            "#fce94f",
            "#ef2929"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1154,
        "y": 672,
        "wires": []
    },
    {
        "id": "144de9fc1d54602e",
        "type": "http request",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.408207&lon=-99.018915&appid=397121aa139f734e0ce36bcb93dba63c",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 294,
        "y": 732,
        "wires": [
            [
                "a6b60fb16f824fbd"
            ]
        ]
    },
    {
        "id": "a6b60fb16f824fbd",
        "type": "json",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 558,
        "y": 736,
        "wires": [
            [
                "1b61e9b50adbede1"
            ]
        ]
    },
    {
        "id": "1b61e9b50adbede1",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Calidad del Aire",
        "func": "msg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqiFlow7\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 816,
        "y": 736,
        "wires": [
            [
                "b532dfeb466d7b9c"
            ]
        ]
    },
    {
        "id": "b532dfeb466d7b9c",
        "type": "ui_gauge",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "group": "be46e683cdffb7d0",
        "order": 4,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "Calidad del Aire",
        "label": "AQUI",
        "format": "{{value}}",
        "min": "0",
        "max": "5",
        "colors": [
            "#8ae234",
            "#fce94f",
            "#ef2929"
        ],
        "seg1": "2",
        "seg2": "4",
        "className": "",
        "x": 1184,
        "y": 736,
        "wires": []
    },
    {
        "id": "1d3bd0506c79cb46",
        "type": "mqtt in",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/API",
        "qos": "2",
        "datatype": "auto",
        "broker": "c4f2936f8e5d6908",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 184,
        "y": 848,
        "wires": [
            [
                "b844fb3040f89643"
            ]
        ]
    },
    {
        "id": "b844fb3040f89643",
        "type": "json",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 558,
        "y": 848,
        "wires": [
            [
                "10e02087637d62ef"
            ]
        ]
    },
    {
        "id": "3e877feebb79a925",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Temperatura",
        "func": "msg.topic = \"temp\";\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 822,
        "y": 800,
        "wires": [
            [
                "c334891871388cc4"
            ]
        ]
    },
    {
        "id": "0f5dbdc868fd0b5f",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Humedaad",
        "func": "msg.topic = \"Hum \" + msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 822,
        "y": 880,
        "wires": [
            [
                "c334891871388cc4"
            ]
        ]
    },
    {
        "id": "d09837e42943c999",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "UV",
        "func": "msg.topic = \"Uv \" + msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 798,
        "y": 928,
        "wires": [
            [
                "c334891871388cc4"
            ]
        ]
    },
    {
        "id": "ec3bddefa8a76538",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "AQI",
        "func": "msg.topic = \"AQI \" + msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 798,
        "y": 992,
        "wires": [
            [
                "c334891871388cc4"
            ]
        ]
    },
    {
        "id": "fc4ad21f13897e32",
        "type": "comment",
        "z": "e6d8a6461d587fbf",
        "name": "Historico Grupal API",
        "info": "",
        "x": 162,
        "y": 800,
        "wires": []
    },
    {
        "id": "7d88315bc4c64586",
        "type": "comment",
        "z": "e6d8a6461d587fbf",
        "name": "Solicitud API",
        "info": "",
        "x": 118,
        "y": 464,
        "wires": []
    },
    {
        "id": "94f1ac126a1ad775",
        "type": "ui_chart",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "group": "35845c506459e560",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Por API",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1176,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "b658f7d4577b1dab",
        "type": "inject",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1168,
        "wires": [
            [
                "9e956cc96c6a86fb"
            ]
        ]
    },
    {
        "id": "9e956cc96c6a86fb",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Omar_Ojeda_Nezahualcóyotl\",\"temp\":' + global.get (\"tempFlow7\") + ',\"hum\":' + global.get (\"humFlow7\") + ',\"uv\":' + global.get (\"uvFlow7\") + ',\"aqi\":' + global.get (\"aqiFlow7\") + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 788,
        "y": 1168,
        "wires": [
            [
                "e87f68758de4782a"
            ]
        ]
    },
    {
        "id": "e87f68758de4782a",
        "type": "mqtt out",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/API",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c4f2936f8e5d6908",
        "x": 1224,
        "y": 1168,
        "wires": []
    },
    {
        "id": "f33036f92c3c154e",
        "type": "comment",
        "z": "e6d8a6461d587fbf",
        "name": "Enviador API",
        "info": "",
        "x": 142,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9164b8fa3825831e",
        "type": "mqtt in",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/sensores",
        "qos": "2",
        "datatype": "auto",
        "broker": "c4f2936f8e5d6908",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 178,
        "y": 1328,
        "wires": [
            [
                "764b84005cd33a53"
            ]
        ]
    },
    {
        "id": "764b84005cd33a53",
        "type": "json",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 558,
        "y": 1328,
        "wires": [
            [
                "d726fb07b2faa76e"
            ]
        ]
    },
    {
        "id": "9d48bd65d41482be",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Temperatura",
        "func": "msg.topic = \"Temperatura \";\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 794,
        "y": 1328,
        "wires": [
            [
                "d2543ad184e15554"
            ]
        ]
    },
    {
        "id": "9521e44f8e5170d7",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Humedaad",
        "func": "msg.topic = \"Humedad \" + msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 794,
        "y": 1408,
        "wires": [
            [
                "d2543ad184e15554"
            ]
        ]
    },
    {
        "id": "b136b352d9ecd4c0",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "UV",
        "func": "msg.topic = \"Uv \" + msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1488,
        "wires": [
            [
                "d2543ad184e15554"
            ]
        ]
    },
    {
        "id": "144864d814bca334",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "AQI",
        "func": "msg.topic = \"AQI \" + msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1536,
        "wires": [
            [
                "d2543ad184e15554"
            ]
        ]
    },
    {
        "id": "85c0a842eddfbdd7",
        "type": "ui_chart",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "group": "385acfabc1ae5cba",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Sensores",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1164,
        "y": 1408,
        "wires": [
            []
        ]
    },
    {
        "id": "dad2c16539e6f2cc",
        "type": "comment",
        "z": "e6d8a6461d587fbf",
        "name": "Historico Grupal Sensores",
        "info": "",
        "x": 154,
        "y": 1280,
        "wires": []
    },
    {
        "id": "3fb6967565b0da9b",
        "type": "inject",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 138,
        "y": 1632,
        "wires": [
            [
                "da8b77f2d2f51895"
            ]
        ]
    },
    {
        "id": "da8b77f2d2f51895",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Omar_Ojeda_Nezahualcóyotl\",\"temp\":' + global.get (\"tempFlow7\") + ',\"hum\":' + global.get (\"humFlow7\") + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1632,
        "wires": [
            [
                "9d2474761254fd9d"
            ]
        ]
    },
    {
        "id": "9d2474761254fd9d",
        "type": "mqtt out",
        "z": "e6d8a6461d587fbf",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/sensores",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c4f2936f8e5d6908",
        "x": 1244,
        "y": 1632,
        "wires": []
    },
    {
        "id": "45ebfa1e3ac568cd",
        "type": "comment",
        "z": "e6d8a6461d587fbf",
        "name": "Enviador Sensores",
        "info": "",
        "x": 214,
        "y": 1584,
        "wires": []
    },
    {
        "id": "5ec2e5665cb1a7e0",
        "type": "mysql",
        "z": "e6d8a6461d587fbf",
        "mydb": "6b08e447d9f7b943",
        "name": "",
        "x": 1200,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "b92432284de519c4",
        "type": "function",
        "z": "e6d8a6461d587fbf",
        "name": "Query",
        "func": "msg.topic = \"INSERT INTO Clima (nombre,temp,hum) VALUES ('\" + msg.payload.id + \"',\" + msg.payload.temp+ \",\" + msg.payload.hum + \");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1040,
        "wires": [
            [
                "5ec2e5665cb1a7e0"
            ]
        ]
    },
    {
        "id": "b3ad23255d913573",
        "type": "ui_template",
        "z": "e6d8a6461d587fbf",
        "group": "385acfabc1ae5cba",
        "name": "Temperatura y Humedad",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<iframe src=\"http://localhost:3000/d-solo/0tpt4tKVz/estacion-climatica?orgId=1&from=1669997337826&to=1670018937826&panelId=2\" width=\"600\" height=\"200\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 194,
        "y": 1744,
        "wires": [
            []
        ]
    },
    {
        "id": "ef0961d73f86115c",
        "type": "ui_spacer",
        "z": "e6d8a6461d587fbf",
        "name": "spacer",
        "group": "669144b0875f8b3a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a49b63db4f1c2f63",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "669144b0875f8b3a",
        "type": "ui_group",
        "name": "Datos Instantaneos",
        "tab": "30aeaf118c216c4e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f38aa05bd5f22e11",
        "type": "ui_group",
        "name": "Historico",
        "tab": "30aeaf118c216c4e",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "be46e683cdffb7d0",
        "type": "ui_group",
        "name": "Datos Instantaneos por API",
        "tab": "30aeaf118c216c4e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4f2936f8e5d6908",
        "type": "mqtt-broker",
        "name": "broker hiveMQ G7",
        "broker": "3.124.50.83",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "35845c506459e560",
        "type": "ui_group",
        "name": "Historicos Grupal API",
        "tab": "30aeaf118c216c4e",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "385acfabc1ae5cba",
        "type": "ui_group",
        "name": "Historico Grupal Sensores",
        "tab": "30aeaf118c216c4e",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b08e447d9f7b943",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "codigoIoT",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "30aeaf118c216c4e",
        "type": "ui_tab",
        "name": "Estacion de Clima G7",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]